@using System.Web.Mvc
@using System.Web.Mvc.Html
@inherits System.Web.Mvc.WebViewPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tosinho</title>

    <link rel="stylesheet" href="~/Scripts/style.css">   
</head>
<body>

    <div id="principal">

        <h1>Api - Totosinho</h1>

        <br />

        <p>Este documento tem como objetivo demonstrar a utilização do sistema API - Totosinho.</p>

        <p>Toda chamada ao sistema é necessário adicionar as seguintes informações:</p>

        <table>
            <thead>
                <tr>
                    <th>Header</th>
                    <th>Tipo</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>acessoToken</td>
                    <td>STRING</td>
                    <td>Token recebido no momento do cadastro do Servidor para utilização da API</td>
                </tr>
            </tbody>
        </table>
     
       
        <br/>               
    </div>

</body>
</html>
